EMAIL_TO=kshanson@ufl.edu
EMAIL_CC=cpb@ufl.edu lawjames1@ufl.edu
EMAIL_FROM=please-do-not-reply@ufl.edu
EMAIL_SUBJECT=Test Tube Labels
SMTP_SERVER=smtp.ufl.edu
API_TOKEN=your_api_token
TIME_ZONE='America/New_York'
